{%extends 'homepage.html'%}
{%block content%}
{% load static %}

<div class="sign section--bg" data-bg="img/section/section.jpg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="sign__content">
					<!-- authorization form -->
					<form method='POST' class="sign__form">
						{% csrf_token %}
						<a href="index.html" class="sign__logo">
							<img src="{{setting.logo.url}}" alt="">
						</a>

						<div class="sign__group">
							<input type="text" name='username' class="sign__input" placeholder="Имя">
						</div>

						<div class="sign__group">
							<input type="password" name='password' class="sign__input" placeholder="Пароль">
						</div>

						{% comment %} <div class="sign__group sign__group--checkbox">
							<input id="remember" name="remember" type="checkbox" checked="checked">
							<label for="remember">Remember Me</label>
						</div> {% endcomment %}
						
						<button class="sign__btn" type="submit">Войти</button>

						<span class="sign__text">Нет аккаунта? <a href="{% url 'register' %}">Зарегестрируйтесь!</a></span>

						<span class="sign__text"><a href="forgot.html">Забыли пароль?</a></span>
					</form>
					<!-- end authorization form -->
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}