{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'main/css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/jquery.mCustomScrollbar.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/plyr.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/photoswipe.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/default-skin.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{% static 'main/icon/favicon-32x32.png' %}" sizes="32x32">
	<link rel="apple-touch-icon" href="{% static 'main/icon/favicon-32x32.png' %}">

	<meta name="description" content="Online Movies, TV Shows & Cinema HTML Template">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body class="body">

<!-- header -->
{%block content%}

{%endblock%}


<!-- JS -->
<script src="{% static 'main/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'main/js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'main/js/jquery.mCustomScrollbar.min.js' %}"></script>
<script src="{% static 'main/js/wNumb.js' %}"></script>
<script src="{% static 'main/js/nouislider.min.js' %}"></script>
<script src="{% static 'main/js/plyr.min.js' %}"></script>
<script src="{% static 'main/js/jquery.morelines.min.js' %}"></script>
<script src="{% static 'main/js/photoswipe.min.js' %}"></script>
<script src="{% static 'main/js/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>