<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="main/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="main/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="main/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="main/icon/favicon-32x32.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body>

<div class="home">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="home__content">
					<h1 class="home__title"><b>FlixGo v2.1</b></h1>
					<p class="home__text">Online Movies, TV Shows & Cinema HTML Template</p>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="section__title">Demo pages</h2>
			</div>

			<div class="col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-0">
				<a href="main/index.html" class="section__item" target="_blank">
					<img src="1.png" alt="">
					<span>Main pages</span>
				</a>
			</div>

			<div class="col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-0">
				<a href="admin/index.html" class="section__item" target="_blank">
					<img src="2.png" alt="">
					<span>Admin pages</span>
				</a>
			</div>
		</div>
	</div>
</section>

</body>
</html>